.header {
    grid-area: h;
    background: rgb(47, 109, 255);
}
.header>img {
    width: 50px;
    padding: 0 0 0 20px;
}
.loginBlock {
    display: flex;
    float: right;
    padding: 20px;
}
.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}