.descriptionBlock {
    padding: 10px;
}
.mainPhoto {
    max-width: 100%;

}
.mainAvatarWrapper {
    max-width: 200px;
}
.mainAvatar {
    width: 100%;
    padding-bottom: 10px;
}
.status {
    padding-top: 25px;
}
.status input{
    outline: none;
}
.contact {
    padding-left: 10px;
}
.formSummaryError {
    border: 1px solid red;
    padding: 10px;
    color: red;
}
