.formLogin {
    padding: 30px;
}
.formLogin input {
    outline: none;
    margin-bottom: 15px;
}
.formSummaryError {
    border: 1px solid red;
    padding: 10px;
    color: red;
}
.rememberMe {
    display: inline-block;
}
.button {
    margin-top: 20px;
}