.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
    color: #ffffff;
}
.activeLink {
    color: goldenrod;
}
.dialog {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}
.dialog div{
    width: 30px;
    height: 30px;
    background: coral;
    border-radius: 50%;
}
.dialog a {
    padding-left: 5px;
}
.messageAvatar {
    width: 30px;
    height: 30px;
    background: coral;
    border-radius: 50%;
    margin-right: 10px;
}
.message  {
    display: flex;
    padding-bottom: 18px;
}
.messagesElements {
    width: 50%;
    padding-right: 20px;
}
